<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!-- recorrer colecciones -->
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <div class="container">
     <div class="row">
      <h1>Gestor de Clientes</h1>
      <img class="col-lg-8 col-xs-12" src="https://image.flaticon.com/icons/svg/179/179655.svg" alt="">
      <button on-click="obtenerClientes" class="btn btn-success col-lg-4 col-xs-12"  type="button" name="button">ObtenerClientes</button>
     </div>

     <div class="row">
       <table class="table table-striped">
         <tbody>
           <template is="dom-repeat" items="{{clientes}}">
             <tr>
      <!--         <td>[[item.CustomerID]]</td>
               <td>[[item.ContactName]]</td>
               <td>[[item.CompanyName]]</td>  -->

               <td>[[item.idcliente]]</td>
               <td>[[item.nombre]]</td>
               <td>[[item.apellido]]</td>
             </tr>
           </template>
         </tbody>
       </table>
     </div>
   </div>
   <!--<h2>Hello [[prop1]]!</h2>-->
   <!--<h3>Mi valor es [[prop2]] </h3>-->
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class GestorClientes extends Polymer.Element {
     static get is() { return 'gestor-clientes'; }
     static get properties() {
       return {
         clientes: {
           type: Array,
           notify: true
         }
     };
   }
   obtenerClientes(){
     var request = new XMLHttpRequest();
  //   request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
     request.open("GET","http://localhost:3002/movimientos",false);
     request.setRequestHeader("Accept","application/JSON");
     request.send();
  //   this.clientes = JSON.parse(request.responseText).value;
     this.clientes = JSON.parse(request.responseText);
     console.log(this.clientes);
   }

   anadirCliente(){
     var request = new XMLHttpRequest();
     request.open("POST","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
     request.setRequestHeader("Accept","application/JSON");

     request.setRequestHeader("Content.Type","application/JSON");
     var nuevoCliente = {"CustomerID":"12345","ContactName":"Pepe","CompanyName":"Pepes Bar"};
     var body =JSON.stringify(nuevoCliente);
     request.send(body);
     this.respuesta = erquest.responseText;
     console.log(this.respuesta);
   }
 }
   window.customElements.define(GestorClientes.is, GestorClientes);
 </script>
</dom-module>
